/* pages/addhomework/addhomework.wxss */
.contain{
	display: flex;
	flex-direction: column;
}
.top{
	height: 100rpx;
	background-color: rosybrown;
	margin-right: 0;
}
.top button{
	margin-top: 10rpx;
	margin-right: 10rpx !important;
	width: 180rpx !important;
	font-size: 35rpx !important;
	background-color: #07C160;
}
.question-type{
	display: flex;
	flex-direction: column;
	margin-left: 10rpx;
	margin-right: 10rpx;
}
.title{
	font-size: 40rpx;
	margin-left: 10rpx;
	margin-top: 10rpx;
}
.question{
	display: flex;
	flex-direction: row;
	margin: 20rpx;
}
.question text{
	font-size: 35rpx;
	color: rgb(63, 45, 45);
	width: 200rpx;
}
.line {
	border: 1rpx solid #dddada;
	width: 95%;
	margin: 0 auto;
}
.list{
	height: 650rpx;
}
.list-item{
	border: 1rpx solid #dddada;
	display: flex;
	flex-direction: row;
	margin-top: 15rpx;
	margin: 10rpx;
	padding: 10rpx;
}
.title-and-type{
	font-size: 40rpx;
	width: 350rpx;
}
.choice-dialog button{
	background-color: #bcbcbc;
	width: 200rpx !important;
	font-size: 20rpx;
	margin-left: 100rpx !important;
	margin-bottom: 15rpx;
}
.add-choice{
	position: absolute;
	margin-top: 100rpx;
	margin-left: 19rpx;
	width: 95%;
	height: 400rpx;
	z-index: 1;
}
.dialog-block{
	position: absolute;
}
.dialog-contain{
	background-color: grey;
	width: 100%;
	height: 1050rpx;
	display: flex;
	margin-top: 10rpx;
	flex-direction: column;
}
.dialog-title{
	display: flex;
	flex-direction: row;
	margin: 5rpx;
}
.dialog-title text{
	font-size: 45rpx;
	color: rgb(247, 214, 33);
	width: 450rpx;
}
.question-title{
	margin-left: 10rpx;
	margin-bottom: 20rpx;
	display: flex;
	flex-direction: column;
}
.question-title text{
	height: 50rpx;
	margin-bottom: 5rpx;
}
.question-title textarea{
	height: 100rpx;
}
.choice{
	display: flex;
	flex-direction: row;
	margin: 20rpx;
}
.choice text{
	width: 80rpx;
}
.set-answer{
	margin-top: 20rpx;
	margin-left: 15rpx;
	display: flex;
	flex-direction: column;
}
.set-answer text{
	margin-bottom: 5rpx;
}
.homework-title{
	display: flex;
	flex-direction: row;
	font-size: 40rpx;
	margin-top: 10rpx;
	margin-bottom: 10rpx;
	margin-left: 10rpx;
}
.homework-title text{
	width: 230rpx;
	height: 100%;
}
.homework-title input{
	margin-top: 6rpx;
	color: rgb(47, 87, 128);
}